<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/booktest/posttest2/">
    username : <input type="text" name="username"><br>
    password : <input type="password" name="password"><br>
    gender   : <input type="radio" name="gender" value="male" checked="checked">
               <input type="radio" name="gender" value="female"><br>
    hobby    : <input type="checkbox" name="hobby" value="跑步">跑步
               <input type="checkbox" name="hobby" value="健身">健身
               <input type="checkbox" name="hobby" value="登山">登山<br>

    <input type="submit" value="submit">


</form>

</body>
</html>